:root {
  --primary: #1e3a8a;
  --primary-light: #e0e7ff;
  --secondary: #2563eb;
  --danger: #ef4444;

  --text-main: #1f2933;
  --text-muted: #6b7280;

  --bg-main: #f9fafb;
  --bg-card: #ffffff;
  --border: #e5e7eb;
}

/* 🌙 DARK MODE */
[data-theme="dark"] {
  --primary: #93c5fd;
  --primary-light: #1e293b;
  --secondary: #60a5fa;
  --danger: #f87171;

  --text-main: #e5e7eb;
  --text-muted: #9ca3af;

  --bg-main: #020617;
  --bg-card: #020617;
  --border: #334155;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
  line-height: 1.6;
}

h1, h2, h3 {
  color: var(--primary);
}

a {
  color: var(--secondary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: inherit;
}

/* SCROLL REVEAL */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
